include header.pug
block links
    link(rel='stylesheet', href='/stylesheets/record.css')

div.record-page
    // 用来存username，但是不展示
    div#usernameText #{username}
    div#row.row
        div.col-md-6
            div#create-record
                h3 Create a record
                form
                    div.form-group
                        label(for="weight") Your weight
                        div.input-group
                            input#weight.form-control(type="number" placeholder="Please enter an number")
                            div.input-group-addon KG
                    div.form-group
                        label(for="date") Your running date
                        input#date.form-control(type="date")
                    div.form-group
                        label(for="start-time") Your start time
                        input#start-time.form-control(type="time")
                    div.form-group
                        label(for="end-time") Your end time
                        input#end-time.form-control(type="time")
            div#map
            div.info
                span Distance(/km): 
                span#distance
            div.info
                span Time(/h): 
                span#time
            div.info
                span Speed(km/h): 
                span#speed
            div.info
                span Calories(/kcal): 
                span#calories
            //- div#place
            //-     input#origin-input.controls(type="text", placehorlder="Enter an origin location")
            //-     input#destination-input.controls(type="text", placehorlder="Enter an destination location")
            button#add_record(type="submit") ADD

        div.col-md-6
            div#show-record
                h3 Records
                table.table.table-striped
                    tr
                        th.table-head date
                        th.table-head distance(km)
                        th.table-head time(/h)
                        th.table-head speed(km/h)
                        th.table-head calories(/kcal)
                    //- 循环的写法
                    each i in records
                        tr.record_line
                            td #{i.date}
                            td #{i.distance}
                            td #{i.time}
                            td #{i.speed}
                            td #{i.calories}
                p Total Distance: 3 km
                span#total_distance
                p Average Speed: 0.5 km/h
                sapn#average_speed
                p Total Cycling Time: 3 hours
                span#total_cycling_time

    script(src="/javascripts/record.js")
    script(src="/javascripts/route.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAeWXKaDnm2N6UX-qnR8BVFqzPWC49OWE&libraries=places&callback=initMap" async defer)